{% extends "main/template.html" %}
{% load staticfiles %}
{% block meta %}
{% endblock meta %}
{% block title %}
    Тестовая страница
{% endblock title %}
{% block main %}
    <div class="container-fluid">
{#        {% for device in devices %}#}
            <div class="row">
                <video width="auto" height="auto" controls="controls" autoplay="autoplay">
{#                    <source src="rtsp://salix.ksk.loc:7447/55cc614387ff201301415f79_0.sdp">#}
{#                    <source src="http://localhost:8090/test1.webm" type='video/webm; codecs="vp9, vorbis"'>#}
{#                    <source src="http://localhost:8090/test4.mp" type='video/mp4'>#}
{#                    <source src="http://localhost:8090/test3.h265" type='video/h265'>#}
{#                    <source src="http://localhost:8090/test3.ogg" type='video/ogg'>#}
{#                    <source src="{{ device.stream_url }}">#}
                </video>
            </div>
{#            <div class="row">#}
{#                <embed src="http://localhost:8090/test1.webm" width="auto" height="auto"></embed>#}
{#            </div>#}
{#        {% endfor %}#}
    </div>
{% endblock main %}